<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h3>Edit your listing</h3>
    <form method="post" action="/listings/<%=listing._id%>?_method=PUT">
        <label for="title">Title:</label>
        <input type="text" name="listing[title]" required value="<%= listing.title %>">

        <br> <br>

        <label for="description">Description:</label>
        <textarea name="listing[description]" required><%= listing.description %></textarea>

        <br> <br>

        <label for="price">Price ($):</label>
        <input type="number" name="listing[price]" step="0.01" required value="<%= listing.price %>">

        <br> <br>

        <label for="country">Country:</label>
        <input type="text"  name="listing[country]" required value="<%= listing.country %>">

        <br> <br>

        <label for="location">Location:</label>
        <input type="text" name="listing[location]" required value="<%= listing.location %>">

        <br> <br>

        <label for="image">Image URL:</label>
        <input type="text" name="listing[image]" value="<%= listing.image %>">

        <br> <br>

        <button type="submit">Edit</button>
    </form>
</body>