<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-md-8 offset-md-3 col-12">
        <h2 class="mt-3">Listing details</h2>
    </div>

    <div class="col-md-6 offset-md-3 col-12">
        <div class="card">
            <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image">
            <div class="card-body">
                <p class="card-text">
                    <b><%= listing.title %></b><br>
                    <%= listing.description %> <br>
                    <%= listing.country %> <br>
                    <%= listing.location %> <br>
                    &#36;<%= listing.price.toLocaleString("en-US") %>
                </p>
            </div>
        </div>
    </div>
    
    <div class="col-md-8 offset-md-2 col-12">
        <div class="btns mb-3">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark">Edit</a>
            <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
                <button class="btn btn-dark">Delete</button>
            </form>
        </div>
    </div>
</div>